.about-title {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-secondary);
  margin-bottom: 0.5em;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.img-temp {
  background-color: gray;
  width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: inline-block;
}

.about-content {
  width: 50%;
  display: flex;
}
@media screen and (max-width: 600px) {
  .about-content {
    width: 100%;
  }
  .about-content {
    flex-direction: column;
  }
  .about-author {
    margin: auto;
  }
}
.about-paragraph {
  margin-top: 1rem;
}
.about-author {
  margin: 5rem 3rem;
  text-align: center;
}
.about-author small {
  font-size: 1.25rem;
  color: var(--text-secondary);
  margin-top: 2rem;
  display: inline-block;
}
