/*
  Resets
*/
* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body{
  width: 100vw !important;
  overflow-x: hidden;
}
/*
  Utility classes
*/
:root{
  --bg-primary: #0D0D1B;
  
  --text-primary: #E6E6F1;
  --text-secondary: #E61C4D;
}
.text-secondary{
  color: var(--text-secondary);
}

.text-lg{
  font-size: 2rem;
  margin-bottom:1.5rem;
}
.text-md{
  font-size: 1.5rem;
  margin-bottom:1.25rem;
}
.btn{
  outline: none;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.btn:hover{
  transform: scale(1.25);
}

.btn-primary{
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
}

.btn-secondary{
  border: 1px solid var(--text-secondary);
  color: var(--text-secondary);
}


/*
  Other classes
*/
.btn-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 200px;
  margin: 0.5rem 0;
}
.btn-section > .btn{
  width: 100%;
}

.background{
  background-color: var(--bg-primary);
  color: var(--text-primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.hero{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
